


.create-player-container {
   margin: 0;
  padding: 0;
  background-image: url('/public/sfondo-list.png');
  background-size: cover; 
  background-position: center; 
  font-family: 'Roboto', sans-serif; 

  
  color: #333;
   
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
 
}
.crea{
  color: blue;
  margin-bottom: 20px;
}

 

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 700;
  }

  form {
    display: grid;
    grid-gap: 20px;

    label {
      display: block;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #555;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 50px;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #861111;
     

    }

    button {
      width: 100%;
      padding: 14px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    p {
      color: red;
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
    }
  }

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1199px) {
  .create-player-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 991px) {
  .create-player-container {
    max-width: 400px;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .create-player-container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  form {
    label {
      font-size: 0.9em;
    }

    input,
    select {
      font-size: 0.9em;
    }

    button {
      font-size: 0.9em;
    }
  }
}





  