// Variabili
$primary-color: #38bd0b;
$secondary-color: #9b3434;
$background-color: #f2f2f2;
$error-color: rgb(0, 0, 0);

// Stile generale della pagina
.create-player-container {
  margin: 0;
  padding: 20px;
  max-width: 100%;
  background-image: url("/public/edit-player.png");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: #f6f1f1;
  text-align: center; /* Aggiunto per centrare i contenuti */
}

// Titolo
h1 {
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  color: #ffffff;
}

// Form
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; /* Aggiunto per centrare il form */
  max-width: 200px; /* Aggiunto per evitare che il form sia troppo largo su schermi grandi */

  label {
    display: block;
    font-weight: bold;
    color: #000000;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
  }

  button {
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  p {
    color: $error-color;
    margin-top: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

// Media queries
@media only screen and (max-width: 600px) {
  $small-padding: 10px;
  $small-font-size: 12px;

  .create-player-container {
    padding: $small-padding;
  }

  h1 {
    font-size: 24px;
    margin-top: 20px;
  }

  form {
    width: 80%;
  }

  input,
  select {
    font-size: $small-font-size;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  $medium-padding: 15px;
  $medium-font-size: 14px;

  .create-player-container {
    padding: $medium-padding;
  }

  h1 {
    font-size: 28px;
    margin-top: 30px;
  }

  form {
    width: 70%;
  }

  input,
  select {
    font-size: $medium-font-size;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  $large-padding: 20px;
  $large-font-size: 16px;

  .create-player-container {
    padding: $large-padding;
  }

  h1 {
    font-size: 32px;
    margin-top: 40px;
  }

  form {
    width: 60%;
  }

  input,
  select {
    font-size: $large-font-size;
  }
}

@media only screen and (min-width: 1441px) {
  $extra-large-padding: 30px;
  $extra-large-font-size: 18px;

  .create-player-container {
    padding: $extra-large-padding;
  }

  h1 {
    font-size: 36px;
    margin-top: 50px;
  }

  form {
    width: 50%;
  }

  input,
  select {
    font-size: $extra-large-font-size;
  }
}
