// Stile della barra di navigazione
.nav-page {
  background-color: rgb(250, 218, 218);
  padding: 20px 20px;
  height: 35px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  .logo img {
    width: 45px;
    margin-right: 5px;
    border-radius: 30px;
  }

  .team-name {
    color: rgb(144, 30, 30);
    font-size: 18px;
    font-weight: bold;
  }

  .menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end; // Allinea il menu a destra

      li {
        margin-right: 20px;

        a {
          color: black;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.storia-link {
  display: none;
}
// Media query per telefoni
@media only screen and (max-width: 600px) {
  .menu {
    width: 100%;
  }
  .storia-link {
    display: none;
  }
}

// Media query per iPad
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .menu {
    width: 75%;
  }
}

// Media query per laptop
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .menu {
    width: 50%;
  }
}

// Media query per schermi TV
@media only screen and (min-width: 1441px) {
  .menu {
    width: 25%;
  }
}

main {
  margin-top: 60px; // Spazio per il contenuto principale sotto la barra di navigazione
}
