.PlayerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f2f2f2;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #333;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
  
      li {
        flex-basis: calc(33.333% - 2rem);
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        text-align: center;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: translateY(-5px);
        }
  
        img {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 1rem;
        }
  
        &:nth-child(even) {
          background-color: #f5f5f5;
        }
      }
    }
  
    .button-handle {
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: #ff3838;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #f01d1d;
      }
    }
  
    .button-edit,
    .button-list {
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: #2e7d32;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #1b5e20;
      }
    }
  }
  