/* Stile della pagina di storia */
.storia-page {
  height: 60vh;
  background-image: url("/public/storia-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Stile del ctesto nella pagina  */
.content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

/* Stile del footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;

  /* Stile del contenuto del footer */
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    /* Stile delle sezioni del footer */
    .footer-section {
      flex: 1; /* Ogni sezione del footer occupa lo spazio disponibile */
      margin: 0 20px;

      h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0; /* Margini dei paragrafi */
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  /* Stile del footer inferiore */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
  }

  /* Media queries per dispositivi di dimensioni diverse */

  @media only screen and (max-width: 600px) {
    .footer-content {
      flex-direction: column; /* Cambia la direzione dei contenuti in colonna */
      align-items: center; /* Allinea gli elementi al centro */

      .footer-section {
        margin: 10px 0; /* Riduce i margini verticali delle sezioni */
        text-align: center; /* Allinea il testo al centro */
      }
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .footer-content {
      .footer-section {
        flex-basis: 45%; /* Riduce la larghezza delle sezioni */
      }
    }
  }

  /* Stili per schermi da 1025px a 1440px */
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer-content {
      .footer-section {
        flex-basis: 30%; /* Riduce ulteriormente la larghezza delle sezioni */
      }
    }
  }

  @media only screen and (min-width: 1441px) {
    .footer-content {
      max-width: 1200px; /* Limita la larghezza massima del contenitore del footer */
      margin: 0 auto; /* Centra il footer */

      .footer-section {
        flex-basis: 20%; /* Riduce ulteriormente la larghezza delle sezioni */
      }
    }
  }
}
